@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome To New Star Inventory!</h1>

<style>
    body{
        background-image: url("http://i.huffpost.com/gen/4328520/images/o-CHICAGO-facebook.jpg")
    }
</style>
