@model NewStar.ViewModels.AddListViewModel

<form asp-controller="Inventory" asp-action="AddList" method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-control">
        <label asp-for="Name"></label>
        <input class="form-group" asp-for="Name" />
    </div>

    <input type="submit" value="Add Shopping List" />
</form>