@model List<NewStar.Models.Shopping>

<h1>Shopping List</h1>

@if (Model.Count == 0)
{
    <p>No Items to Track yet!</p>
}

<table class="table">

    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>

    @foreach (var list in Model)
    {
        <tr>
            <td>@list.ID</td>
            <td>@list.ShoppingList</td>

            <td><p><a href="~/Shopping/AddItem/@list.ID">Add Item</a></p></td>
        </tr>
    }
</table>

<p><a asp-controller="Inventory" asp-action="AddList">Add Shopping List</a></p>