@model NewStar.Models.Inventory

<h1>Update Inventory</h1>

<p> </p>

<form asp-controller="Inventory" asp-action="Update" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="ID">@Model.ID</label>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
    </div>

    <div class="form-group">
        <label asp-for="Available"></label>
        <input class="form-control" asp-for="Available" />
    </div>
    <font color="red">@ViewBag.msg</font>
    <input type="submit" value="Update Inventory" />
</form>

